.basicdetails_firstgrid{
    width:80%;
    height:auto;
}
.basicdetails_container{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.basicdetails_child{
    width:100%;
    height:100%;
}
.basicdetails_container .formdiv{
    margin-bottom: 10px !important;
}
.basic_details_container{
 
    margin-bottom: 20px;
}
.basic_details_container .labeltxt
{
    color:#333 !important;
}