.booking_createlist .ant-tabs-bar {
 border-bottom: 0px !important;
}
.booking_createlist .ant-tabs-nav .ant-tabs-tab-active {
    color: #86b149 !important;
}
.booking_createlist .ant-tabs-nav {
    font-size: 2.5rem !important;
}
.booking_createlist .ant-tabs-nav .ant-tabs-tab:active {
    color: #096dd9;
}
.booking_createlist .ant-tabs-nav .ant-tabs-tab:hover {
    color: none !important;
}
.booking_createlist .ant-tabs-ink-bar{
    height:4px !important;
    background-color: #86b149 !important;

}
.booking_createlist .ant-tabs-nav-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px !important;
    background-color: #eee;
    box-shadow: 0px 0px 10px 0px #ccc;
}
.booking_createlist .ant-tabs-nav-container{
    margin: 20px 20px 0px 0px;
    border-bottom: 0px;
}
.booking_createlist .ant-tabs-nav .ant-tabs-tab{
    padding:16px 25px !important;
    font-weight:600;
}
.booking_createlist .ant-tabs-bar .ant-tabs-top-bar{
    background-color: #eee !important;
    box-shadow: 11px 23px 16px -21px !important;
}
.booking_createlist .formdiv{
    margin-bottom: 10px;
}
.deal_container{
    padding: 0px 15px 0px 15px;
}
.booking_createlist .formdiv .MuiFormControl-marginNormal {
   width:50%;
}

.booking_createlist .MuiSvgIcon-root{
 font-size: 2rem !important;
}
/* .booking_createlist .radio_buttons .formdiv{
    display:flex !important;
    align-items: center !important;

} */
.radio_button{
    font-weight: 600;
}
/* .Deal_active_check .MuiSvgIcon-root{
 font-size: 2.5rem !important;
 
} */
.validdate_picker{
    display: flex;
    align-items: center;
    
}
.validdate_picker .formdiv .MuiFormControl-marginNormal {
 width:80% !important;
}
.Deal_activecheck .MuiCheckbox-root{
    padding: 0px 5px 0px 0px !important;
}
.datepicker_active{
    width:60%;
}
.datepicker_active .formdiv{
 width:100%;
}
.createbutton-container{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
}
.create_cancel{
    font-size: 1.25rem !important;
    background-color: rgb(201, 201, 201) !important;
    color: #333 !important;
    padding: 6px 16px !important;
    margin-right: 20px !important;
    font-family: "Roboto-Bold";

}
.media_save{
    background-color: rgb(38, 128, 235) !important;
    color: #fff !important;
    font-size: 1.25rem !important;
    padding: 6px 16px !important;
    font-family: "Roboto-Bold";
}
.revenueclinic_container .formdiv{
    
}
.createbutton-container .MuiButton-root{
  min-width: 80px !important;
}
